body {
  background-color: black;
}
p {
  text-align: center;
  color: white;
}
p img, p video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2,5em;
}
h1, h2 {
  color: white;
  text-align: center;
}
.cta {
  color: #32cf95;
  text-decoration: underline;
}
.footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
}